:root {
  --bg-color: #282c34;
  --bg-color-lightmode: white;
  --text-color: white;
  --bg-nav: #1a1d22;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0
}

html {
  background-color: var(--bg-color);

}
.App-main {
 
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--text-color)
}

p {
  font-size: 1rem;
  color: var(--text-color)
}

h1 {
  color: var(--text-color)
}

h2 {
  color: var(--text-color)
}

nav ul {
  list-style: none;
  cursor: pointer; 
  text-align: right;
  padding-right: 2em;
  padding-top: 1em;
  display:flex;
}

nav ul li {
  font-size: 1.2rem;
  margin-left: 2em;
  padding-bottom: 10px;
  display: inline-block
}

nav ul li:hover{
  background-color: var(--bg-nav);
  border-radius: 10px;
  padding: 5px
}

button {
  cursor: pointer;
  border-radius: 10px;
  padding: 3px 5px
}

.title {
  text-align: center;
  width: calc(100vw - 2em);
  margin: 0 auto;
  padding-top: 30px;
  border-bottom: 3px white solid;
  padding-bottom: 30px;
  background-color: #1e2127;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black
}

._listsDisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: calc(100vw - 2em);
  margin: 20px auto
}

.container_right {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

._listaProducts {
  display: flex;
  flex-direction: column;
  width: 55vw;
  justify-content: space-around;
  align-items: flex-start;
}

.title_list {
  margin-bottom: 20px;
}

.secondPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
}

.container_list {
  background-color: #353b46;
  padding: 20px 0;
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
  border-top: 1px white solid;
}


.producto {
  display: grid;
  grid-template-columns: 0.25fr repeat(3, 1fr) repeat(2, 0.5fr);
  grid-template-rows: auto;
  justify-content: start; 
  align-items:start;
  width: 50vw
}


.producto_button_available {
  grid-column: 4 / 5;
  padding: 5px;
  margin-left: 10px;
  font-size: 0.8rem;
  color: white
}

.producto_id {
  grid-column: 1 / 2;
  text-align: right;
  font-size: 1.2rem
}

.producto_name {
  grid-column: 2 / 3;
  padding-left: 10px;
  font-size: 1.5rem
}

.producto_price {
  grid-column: 3 / 4;
  text-align: right;
  font-size: 1.2rem
}

.producto_button_add {
  grid-column: 5 / 6;
  width: 50px;
  margin-left: 10px;
}

.producto_button_add:active {
  color: white;
  background-color: black;
}

.producto_display_info {
  grid-column: 6 / 7;
  width: 50px;
}

.product_information {
  margin-top: 50px;
  border-top: 1px white solid;
  background-color: #353b46;
  padding: 20px 20px;
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
}

.product_description {
  font-size: 1.2rem;
  margin-top: 10px;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
}

.list_description {
  margin-top: 50px;
}

._form {
  margin-top: 50px;
}

.flex_form {
  display: flex;
  justify-content: stretch;
  align-items: center;
  /* padding-left: 1em; */
  background-color: #353b46;
  padding: 20px 20px;
  box-shadow: 1px 1px 20px black;
  margin-bottom: 30px;
  border-top: 1px white solid;
  border-radius: 10px;
}

label {
  display: block;
  font-size: 1.2rem
}

.button_empty_cart {
  display: flex;
  justify-content: flex-end;
}

.button_clear_infos {
  display: flex;
  justify-content: flex-end;
}

.button_submit {
  cursor: pointer;
  font-size: 1rem;
  background-color: yellowgreen;
  border-radius: 10px;
  padding: 3px 5px;
  color: black
}

.button_submit:hover {
  background-color: black;
  color: yellowgreen
}


.displayCart {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr 1fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  margin-top: 5px;
  background-color: #353b46;
  padding: 10px 0;
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
  border-top: 1px white solid;
}

.cart_button_del {
  grid-column:  6 / 7;
  text-align: right;
  padding: 3px;
  border-radius: 10px;
}

.cart_id, .cart_name, .cart_price, .cart_cantidad, .cart_price_total {
  font-size: 1.2rem
}

.cart_id {
  grid-column: 1 / 2;
  text-align: right;
  margin-right: 10px;
}

.cart_name {
  grid-column: 2 / 3;
  padding-left: 20px;
}

.cart_price {
  grid-column: 3 / 4;
  text-align: right;
}

.cart_cantidad {
  grid-column: 4 / 5;
  text-align: center
}

.cart_price_total {
  grid-column: 5 / 6;
  text-align: right
}

.cart_subtotal, .cart_vat, .cart_total {
  padding: 5px;
  font-size: 1.2rem;
  text-align: right;
}