:root {
  --bg-color: #282c34;
  --bg-color-lightmode: white;
  --text-color: white;
  --bg-nav: #1a1d22;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.product_button_available {
  grid-column: 4 / 5;
  padding: 5px;
  margin-left: 10px;
  font-size: 0.8rem;
  color: white;
}

.product_id {
  grid-column: 1 / 2;
  text-align: right;
  font-size: 1.2rem;
}

.product_name {
  grid-column: 2 / 3;
  padding-left: 10px;
  font-size: 1.5rem;
}

.product_price {
  grid-column: 3 / 4;
  text-align: right;
  font-size: 1.2rem;
}

.product_button_add {
  grid-column: 5 / 6;
  width: 50px;
  margin-left: 10px;
}

.product_button_add:active {
  color: white;
  background-color: black;
}

.product_display_info {
  grid-column: 6 / 7;
  width: 50px;
}

.product_information {
  margin-top: 50px;
  border-top: 1px white solid;
  background-color: #353b46;
  padding: 20px 20px;
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
}

.product_description {
  font-size: 1.2rem;
  margin-top: 10px;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
}

.list_description {
  margin-top: 50px;
}

.button_empty_cart {
  display: flex;
  justify-content: flex-end;
}

.button_clear_infos {
  display: flex;
  justify-content: flex-end;
}

.cart_button_del {
  grid-column: 6 / 7;
  text-align: right;
  padding: 3px;
  border-radius: 10px;
}

.cart_id,
.cart_name,
.cart_price,
.cart_cantidad,
.cart_price_total {
  font-size: 1.2rem;
}

.cart_id {
  grid-column: 1 / 2;
  text-align: right;
  margin-right: 10px;
}

.cart_name {
  grid-column: 2 / 3;
  padding-left: 20px;
}

.cart_price {
  grid-column: 3 / 4;
  text-align: right;
}

.cart_cantidad {
  grid-column: 4 / 5;
  text-align: center;
}

.cart_price_total {
  grid-column: 5 / 6;
  text-align: right;
}

.cart_subtotal,
.cart_vat,
.cart_total {
  padding: 5px;
  font-size: 1.2rem;
  text-align: right;
}
